<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="Pokupo">
    <classes>

      <class name="CabinetCartTest"/>
      <class name="CartTest"/>
      <class name="FavoritesTest"/>
      <class name="LoginHeaderTest"/>
      <class name="LoginModuleTest"/>
      <class name="LogoutHeaderTest"/>
      <class name="MessageTest"/>
      <class name="OformitTest"/>
      <class name="OrderTest"/>
      <class name="PaymentTest"/>
      <class name="ProfileTest"/>
      <class name="RegistrationSellerTest"/>
      <class name="RegistrationTest"/>
      <class name="SearchTest"/>


    </classes>
  </test> <!-- Pokupo -->
</suite> <!-- Default Suite -->
