<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="Pokupo">
    <classes>
      <class name="LogoutHeaderTest"/>
      <class name="LoginHeaderTest"/>
      <class name="LoginModuleTest"/>
      <class name="RegistrationTest"/>
      <class name="CatalogTest"/>
      <class name="RegistrationSellerTest"/>

    </classes>
  </test> <!-- Pokupo -->
</suite> <!-- Default Suite -->
